<?xml version='1.0' encoding='utf-8'?>
<widget id="com.indiemiami.grimdawnarcher" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Grim Dawn Archer</name>
    <description>Archer survival twin-stick shooter</description>
    <author email="dev@indiemiami.com">indiemiami</author>

    <content src="index.html" />

    <preference name="Orientation" value="landscape" />
    <preference name="Fullscreen" value="true" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="AndroidPersistentFileLocation" value="Internal" />
    <preference name="android-windowSoftInputMode" value="stateVisible|adjustPan" />

    <plugin name="cordova-plugin-screen-orientation" spec="~3.0.4" />

    <platform name="android">
        <preference name="AndroidInsecureFileModeEnabled" value="true" />
    </platform>

    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>